.main{
  text-align: center;
  border: 2px solid;
  box-shadow: 0 0 5px;
  border-radius: 4px;
  width: 250px;
}
.heading{
  font-weight: 800;
}
.timer{
  font-size: 1.5rem;
}
.btn{
  box-shadow: 0 0 10px;
  background-color: aquamarine;
  margin: 20px;
}